section#portfolio.py-5
  .container
    h2.mb-5.text-center Portfolio
    ul.list-unstyled.mb-0.row.g-4
      each portfolio, index in portfolioList
        li.col-4
          button.p-0.bg-transparent.border-0(type="button" data-bs-toggle="modal" data-bs-target=`#${portfolio.id}Info`)
            img.img-fluid.rounded(src=`images/portfolio/${portfolio.name}.png` alt=portfolio.name)
          .modal.fade(id=`${portfolio.id}Info` tabindex="-1")
            .modal-dialog.modal-dialog-centered
              .modal-content
                .modal-header
                  h3.modal-title Project: #{portfolio.title}
                  button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
                .modal-body.pt-0
                  p.mb-3= portfolio.text
                  ul.list-unstyled.d-flex.row.g-2
                    each skill, index in portfolio.skills
                      li.col-auto
                        .border.border-secondary.rounded.px-2= skill
                  .btn-group.mt-4(role="group" aria-label="Basic example")
                    a.btn.btn-outline-white(href=`/portfolio/${portfolio.name}` target="_blank") Live Demo
                    a.btn.btn-outline-white(href=`https://github.com/VladislavDesu/${portfolio.name}` target="_blank") Github

